<main class='row'>
  <div class='col-md-12'>
    <nav>
      <%= link_to t('views.navigation.go_back'), :back, class: 'btn btn-secondary' %>
    </nav>

    <header class='header'>
      <h1><%= t('views.devise.registrations.edit', 
                resource_name: resource.class.model_name.human.downcase) %></h1>
    </header>

    <section class='contents'>
      <%= render 'edit_form' %>
    </section>

    <div class='actions mt-4'>
      <p><%= button_to t('views.devise.registrations.destroy'), registration_path(resource_name), 
                       data: { confirm: t('views.devise.registrations.destroy_confirmation') }, 
                       method: :delete, class: 'btn btn-danger' %></p>
    </div>
  </div>
</main>
