<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('views.devise.registrations.create', 
                resource_name: resource.class.model_name.human.downcase) %></h1>
    </header>

    <section class='contents'>
      <%= render 'new_form' %>
    </section>

    <%= render "devise/shared/links" %>
  </div>
</main>
