<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('views.devise.passwords.edit') %></h1>
    </header>

    <section class='contents'>
      <%= render 'edit_form' %>
    </section>

    <%= render "devise/shared/links" %>
  </div>
</main>
