<% provide(:button_text, 'Enviar') %>

<nav>
  <%= link_to "Voltar", subsidiaries_path, class: 'btn btn-secondary' %>
</nav>

<main class="row">
  <div class="col-md-12">
    <header class="header">
      <h1>Atualizar Filial</h1>
    </header>

    <section class="contents">
      <%= render 'form' %>
    </section>

  </div>
</main>
