<header>
  <h1>Filiais</h1>

  <p>Todos as nossas filiais.</p>
</header>

<% if @subsidiaries.any? %>
  <ol>
    <% @subsidiaries.each do |subsidiary| %>
      <li>
        <h3>
          <%= link_to subsidiary.name, subsidiary %>
        </h3>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>
    Nenhuma filial cadastrada
  </p>
<% end %>

<nav>
  <li><%= link_to "Registrar nova filial", new_subsidiary_path %></li>
  <li><%= link_to "Voltar", root_path %></li>
</nav>
