<header>
  <h1> <%= @subsidiary.name %> </h1>
</header>

<ul>
  <li><strong>CNPJ:</strong> <%= @subsidiary.cnpj %></li>
  <li><strong>Endereço:</strong> <%= @subsidiary.address %></li>
</ul>

<nav>
  <li><%= link_to "Voltar", subsidiaries_path %></li>
</nav>
