<header>
  <h1> <%= @subsidiary.name %> </h1>
  <span>CNPJ: <%= @subsidiary.cnpj %> </span>
   | 
  <span>Endereço: <%= @subsidiary.address %> </span>
</header>

<nav>
  <%= link_to "Voltar", subsidiaries_path %>
</nav>
