<header>
  <h1>Rental Cars</h1>
  <p>Bem vindo ao sistema de gestão de locação</p>
</header>

<nav>
  <%= link_to "Fabricantes", manufacturers_path %>
   | 
  <%= link_to "Filiais", subsidiaries_path %>
   | 
  <%= link_to "Categorias de Veículos", car_categories_path %>
</nav>
