<nav>
  <%= link_to "Voltar", root_path, class: 'btn btn-secondary' %>
</nav>

<main class="row">
  <div class="col-md-12">
    <header class="header">
      <h1>Clientes</h1>

      <p>Todos os nosses clientes.</p>
    </header>

    <section class="contents">
      <% if @customers.empty? %>
        <p>
          Nenhum cliente cadastrado
        </p>
      <% end %>

      <ol>
        <% @customers.each do |customer| %>
          <li>
            <h3>
              <%= link_to customer.name, customer %>
            </h3>
          </li>
        <% end %>
      </ol>
    </section>

    <div class="actions mt-4">
      <%= link_to "Registrar novo cliente", new_customer_path, class: 'btn btn-primary' %>
    </div>
  </div>
</main>
