<nav>
  <%= link_to "Voltar", root_path, class: 'btn btn-secondary' %>
</nav>

<main class="row">
  <div class="col-md-12">
    <header class="header">
      <h1>Categorias de Veículos</h1>

      <p>Todos as categorias de veículos que oferecemos.</p>
    </header>

    <section class="contents">
      <% if @car_categories.empty? %>
        <p>
          Nenhuma categoria de veículos cadastrada
        </p>
      <% end %>

      <ol>
        <% @car_categories.each do |car_category| %>
          <li>
            <h3>
              <%= link_to car_category.name, car_category %>
            </h3>
          </li>
        <% end %>
      </ol>
    </section>

    <div class="actions mt-4">
      <%= link_to "Registrar nova categoria de veículos", new_car_category_path, class: 'btn btn-primary' %>
    </div>
  </div>
</main>
