@import "~bootstrap/scss/bootstrap.scss";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$gray-darkest: #707070;
$gray-darker: #808080;
$gray: #a0a0a0;
$gray-medium-light: #cacaca;
$gray-light: #d1d1d1;
$gray-ultra-light: #dbdbdb;

$state-danger-text: #eb4848;

/* universal */

body {
  min-height: 90vh;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

ul {
  list-style: none;
}

dd:last-child {
  margin-bottom: 0;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

label {
  color: #444;
  font-weight: bold;
}

/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

@import "./headbar.scss";
@import "./forms.scss";
@import "./footer.scss";
@import "./show.scss";
@import "./index.scss";
