<p><%= t('views.devise.mailer.email_changed.greeting', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('views.devise.mailer.email_changed.email_changing_message', new_email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('views.devise.mailer.email_changed.email_changed_message', new_email: @resource.email) %></p>
<% end %>
