<header>
  <h1>Fabricantes</h1>

  <p>Todos os fabricantes de carros cadastrados na plataforma.</p>
</header>

<% if @manufacturers.any? %>
  <ol>
    <% @manufacturers.each do |manufacturer| %>
      <li>
        <h2>
          <%= link_to manufacturer.name, manufacturer %>
        </h2>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>
    Nenhum fabricante cadastrado
  </p>
<% end %>

<%= link_to "Registrar novo fabricante", new_manufacturer_path %>
<%= link_to "Voltar", root_path %>
