<nav>
  <%= link_to I18n.t('views.actions.go_back'), root_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1>Fabricantes</h1>

      <p>Todos os fabricantes de carros cadastrados na plataforma.</p>
    </header>

    <section class='contents'>
      <% if @manufacturers.empty? %>
        <p>Nenhum fabricante cadastrado</p>
      <% end %>

      <ol>
        <% @manufacturers.each do |manufacturer| %>
          <li>
            <h3>
              <%= link_to manufacturer.name, manufacturer %>
            </h3>
          </li>
        <% end %>
      </ol>
    </section>

    <div class='actions mt-4'>
        <%= link_to  I18n.t('views.actions.new'), new_manufacturer_path, class: 'btn btn-primary' %>
    </div>
  </div>
</main>
