<nav clas='col'>
  <%= link_to I18n.t('views.actions.go_back'), manufacturers_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-12'>
    <header class='header'>
      <h1> <%= @manufacturer.name %> </h1>
    </header>

    <section class='contents'>

    </section>

    <div class='actions mt-4'>
      <%= link_to I18n.t('views.actions.edit'), edit_manufacturer_path(@manufacturer), class: 'btn btn-primary' %>
      <%= link_to I18n.t('views.actions.delete'), @manufacturer, method: :delete,
                  data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</main>
