<footer>
  <small>
    <%= I18n.t('views.footer.message_1') %>
    <a href='https://github.com/librity'>Luis Geniole</a>
    <%= I18n.t('views.footer.message_2') %>
    <a href='https://treinadev.com.br/'>Treina Dev</a>
    <%= I18n.t('views.footer.message_3') %>
    <a href='https://www.campuscode.com.br/'>Campus Code</a>, São Paulo.
  </small>

  <nav>
    <ul>
      <li>
        <a href='https://github.com/librity/campus_code_car_rental_system'>
          <%= I18n.t('views.footer.original_repo') %>
        </a>
      </li>
    </ul>
  </nav>
</footer>
