<footer>
  <small>
    Rails app developed by <a href='https://github.com/librity'>Luis Geniole</a>
    as part of <a href='https://treinadev.com.br/'>Treina Dev</a>, a Rails
    development scholarship.
    <a href='https://www.campuscode.com.br/'>Campus Code</a>, São Paulo.
  </small>

  <nav>
    <ul>
      <li>
        <a href='https://github.com/librity/campus_code_car_rental_system'>
          Original Repo
        </a>
      </li>
    </ul>
  </nav>
</footer>
